@{
    ViewBag.Title = "Home Page";
}

<section>
    <div class="hero-container" style="text-align:center; margin-top:200px;">
        <h1 class="title">Welcome to NIH</h1>
        <h2 class="title">NIH_Reservoir Systems Package(NIH_ReSyP2018)</h2>
    </div>
</section>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />